bcrypt
beautifulsoup4
boto3
cachetools
card-validator
celery
certifi
certstream
cloudscraper
dnspython
dogstatsd-python
elasticsearch==6.3.1
flask
flask-httpauth
geoip2
gunicorn
inotify
jinja2
jira
mailchimp3
mysql-connector
pycpfcnpj
pyjwt
pymongo
redis
requests
schedule
sparkpost
stripe
timeout-decorator
tldextract
urllib3==1.24.3
xxhash
lxml
